.detailsContainer{
    background-image: linear-gradient(to bottom , #4c175c 15%, #5508e6 65%);
    box-shadow: 6px 6px 2px 1px rgba(14, 14, 151, 0.2);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    min-height: auto;
    width: fit-content;
    border-radius: 45px;
    margin-left: 385px;
    margin-top: 100px;
    transform: scale(1.2);
}

.spec{
    border-radius: 45px;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-top: 10px;
    font-family: monospace;
}

.img{
    border-radius: 45px;
    border: 12px groove rgb(99, 8, 160);
}

.btn{
    display: flex;
    font-size: 20px;
    align-items: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #9a35b9c5;
    text-decoration: none;
}