.App {
   text-align: center;
   justify-content: space-between;
   align-content: flex-start;
   /* background-image :url("https://wallpaperaccess.com/full/1219623.jpg"); */
   background-image :url("https://i.redd.it/qaevyh08hsx51.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   overflow-y: scroll;
}

/* text-align: center;
display: flex;
justify-content: space-between;
gap: 10px;
align-content: flex-start;
margin-top: 20px;
margin-left: 20px; */
